.mainContent {
    margin: 0 auto;
    margin-top: 85px;
}
    .mainContent ul {
        padding: 0;
        list-style: none;
    }

/* interactive styles */
.directions {
    margin-bottom: 20px;
}
.usersList li {
    display: block;
    float: left;
    position: absolute;
    text-align: center;
}

/* visitors styles */
.visitorsList{
    padding-bottom: 5px;
}
